.fa-up-disabled {
    /*opacity: 0.6;*/
    cursor: not-allowed !important;
    color: green;
}

.fa-down-disabled {
    /*opacity: 0.6;*/
    cursor: not-allowed !important;
    color: red;
}

.fa-disabled {
    opacity: 0.6;
    cursor: not-allowed !important;
    color: black;
}

.voteIcon {
    cursor: pointer
}

.item {
    margin: auto;
}
