.tagList {
    list-style-type: none;
    padding: 0px;
}

.tagList li a {
    cursor: pointer;
    color: #000;
}

.delTag {
    cursor: pointer;
    color: gray;
    margin-left: 20px;
}

.tagBox {
    height: 500px;
    overflow-y: scroll;
}

.tagBox::-webkit-scrollbar {
    display: none;
}