﻿/* Custom bootstrap */
.navbar {
  background-color: #f5f5f5;
}

.site-title {
  font-family: 'Lora', serif;
}

.site-title span a {
  color: black;
  text-decoration: none;
}

.navbar-search {
  width: 100%;
  max-width: 512px;
}

.nav {
  cursor: pointer;
}

.nav-center {
    flex:1;
}

/* Search box CSS */
.nav-search {
	width:100%;
	max-width: 400px;
}
.searchbox{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}
.searchbox input#search{
  width: 100%;
  height: 50px;
  background: #e2e2e2;
  border: none;
  font-size: 10pt;
  float: left;
  color: #000000;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.searchbox input#search::-webkit-input-placeholder {
   color: #65737e;
}

.searchbox input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.searchbox input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.searchbox input#search:-ms-input-placeholder {
   color: #65737e;
}
.searchbox button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #f5f5f5;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.searchbox:hover button.icon, .searchbox:active button.icon, .searchbox:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.searchbox:hover button.icon:hover{
  background: #e2e2e2;
}

.dropdown-item {
  cursor: pointer;
}