.welcome {
  color:#FFF;
  background-image: url("https://i.imgur.com/98O8wcQ.png");
  background-blend-mode: multiply;
  background-color: rgba(30,20,0,.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.loader {
  text-align: center;
  padding-bottom: 30px;
}

.margintop {
  margin-top: 2rem;
}

.img-profile {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.no-results {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.postItem {
  cursor: pointer;
}